img {
  height: 250px;
  width: 250px;
  border-radius: 20%;
  border-width: thick;
  border-color: orange;
  padding: 15px;
}

body {
  background-color: black;
  background-image: url(busPic.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.pictures {
  clear: both;
}

.data {
  background-color: white;
  opacity: 0.5;
}
