img {
  height: 250px;
  width: 200px;
  border-radius: 20%;
  border: 3px solid orange;
  margin: 15px;
}

body {
  background-color: black;
  background-image: url(busPic.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.pictures {
  margin:auto;
  width: 70%;
  padding: 10px;
}

.data {
  background-color: white;
  opacity: 0.5;
}

h1 {
  color: white;
  text-align: center;
  margin: auto;
  padding: 20px;
}
